@(title: String)(content: Html)

<!DOCTYPE html>

<html lang="en">
    <head>
        <!-- Jquery -->
        <script async src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script async src="@routes.Assets.versioned("javascripts/counter.js")" type="text/javascript"></script>
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/main.css")">
        
        <!-- Boostrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <script async src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        
        <title>Cosmic sizing tool - @title</title>
    </head>
    <body>
        <h1>Cosmic sizing tool - @title</h1>

        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div>
              <ul class="nav navbar-nav">
                <li><a href="@routes.Application.index()">Home</a></li>
                <li><a href="@routes.Application.team()">Team</a></li>
              </ul>
            </div>
          </div>
        </nav>
        
    	<div id="clockdiv">
		<div>
			<span class="hours" id="idHour"> 0 </span>
			<div class="smalltext">
				Hours
			</div>
		</div>
		<div>
			<span class="minutes" id="idMin"> 0 </span>
			<div class="smalltext">
				Minutes
			</div>
		</div>
		<br />
		<button type="button" class="btn btn-success" id="idBtnStart">
			<span class="glyphicon glyphicon-play"></span>
		</button>
		<button type="button" class="btn btn-primary hide" id="idBtnPause">
			<span class="glyphicon glyphicon-pause"></span>
		</button>
		<button type="button" class="btn btn-danger" id="idBtnStop">
			<span class="glyphicon glyphicon-stop"></span>
		</button>
	</div>
        

        @content

        <div class="footer navbar-fixed-bottom">footer</div>
    </body>
</html>
