@(title: String)(content: Html)

<!DOCTYPE html>

<html lang="en">
    <head>
    	<!-- Jquery -->
    	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    
        <!-- Boostrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        

        <script async src="@routes.Assets.versioned("javascripts/counter.js")" type="text/javascript"></script>
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/main.css")">
        
        <title>Cosmic sizing tool - @title</title>
    </head>
    <body>
        <h1>Cosmic sizing tool - @title</h1>

        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div>
              <ul class="nav navbar-nav">
                <li><a href="@routes.Application.index()">Home</a></li>
                <li><a href="@routes.Application.team()">Team</a></li>
                <li><a href="@routes.Glossary.glossary()">Glossary</a></li>
               <li><a href="@routes.Measures.add()">Add Measure</a></li>
               <li><a href="@routes.Application.counter()">Counter</a></li>
              </ul>
            </div>
          </div>
        </nav>

        <!-- Error messages -->
        @if(flash.containsKey("error")) {
          <div class="well">
              <div id="error-message" class="text-danger">
                  @flash.get("error")
              </div>
           </div>
        }

        <!-- Success messages -->
        @if(flash.containsKey("success")) {
          <div class="well">
              <div id="success-message" class="text-success">
                  @flash.get("success")
              </div>
          </div>
        }

        @content

        <div class="footer navbar-fixed-bottom">footer</div>
    </body>
</html>