
@main("Entrée de mesures") {

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
	<script type="text/javascript" src="/assets/javascripts/mesures/module.js"></script>
	<script type="text/javascript" src="/assets/javascripts/mesures/add.js"></script>

	<div class="container" ng-controller="MesuresAddController">
		{{ layers }}
		<div ng-repeat="layer in layers">
			<h1>{{ layer.name }}</h1>
			<div class="panel panel-default" ng-repeat="process in layer.processes">
				<div class="panel-heading">
					<div class="row">
						<div class="col col-md-1">
							<input type="text" ng-model="process.ref" class="form-control">
						</div>
						<div class="col col-md-11">
							<input type="text" ng-model="process.name" class="form-control">
						</div>
					</div>
				</div>
				<div class="panel-body">
					<div ng-repeat="movement in process.movements">
						{{ movement }}
					</div>
				</div>
			</div>
		</div>		
		

	</div>

}