
@main("Entrée de mesures") {

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>

	<div class="container">		
		<div class="panel panel-default">
			<div class="panel-heading">

				<div class="row">
					<div class="col col-md-1">
						<input type="text" value="" placeholder="#" class="form-control">
					</div>
					<div class="col col-md-7">
						<input type="text" value="" placeholder="Processus foncitonnels" class="form-control">
					</div>
					<div class="col col-md-4">
						<select class="form-control">
							<option>Couche</option>
						</select>
					</div>
				</div>
				
			</div>
			<div class="panel-body">
				Basic panel example
			</div>
		</div>
		<script type="text/javascript" src="/assets/javascripts/mesures_add.js"></script>
	</div>

}