@main("Pattern List"){
<!DOCTYPE html>
<!--[if lt IE 9]>
        <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
<script src='@routes.Assets.versioned("javascripts/pattern_modify.js")'></script>
<link rel="stylesheet" href=/assets/stylesheets/pattern_modify.css>
<div id="patternModify">
  <h2>Create/Modify Pattern</h2>
  <hr>
  <div id="patternOverview">
    <label>#FP: </label><span id="patternNFp"></span>
    <label>Size: </label><span id="patternSize"></span>
  </div>
  <hr>
  <div id="patternDescription">
    <label>Pattern
      <br/>
      <input type="text" id="patternNameInput">
    </label>
    <label>Description
      <br/>
      <input type="text" id="patternDescriptionInput">
    </label>
    <label>User
      <br/>
      <input type="text" id="patternUserInput" disabled="disabled">
    </label>
  </div>
  <div id="patternFooter">
    <button type="button" class="btn btn-success">Update</button>
  </div>
</div>
<script type="text/javascript">
bindButton();
windowResize();

/* Test */
testPattern();
</script>
}
