@main("Pattern List"){
<!DOCTYPE html>
<!--[if lt IE 9]>
        <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
<script src='@routes.Assets.versioned("javascripts/pattern_modify.js")'></script>
<link rel="stylesheet" href=/assets/stylesheets/pattern_modify.css>
<div id="patternModify">
  <h2>Create/Modify Pattern</h2>
  <hr>
  <div id="patternOverview">
    <span class="patternLabel">#FP:</span><span id="patternNFp" class="patternValue"></span>
    <br/>
    <span class="patternLabel">Size (CFP):</span><span id="patternSize" class="patternValue"></span>
    <br/>
    <span class="patternLabel">E:</span><span id="patternSizeE" class="patternValue"></span>
    <span class="patternLabel">X:</span><span id="patternSizeX" class="patternValue"></span>
    <span class="patternLabel">R:</span><span id="patternSizeR" class="patternValue"></span>
    <span class="patternLabel">W:</span><span id="patternSizeW" class="patternValue"></span>
    <br/>
    <span class="patternLabel">Date created:</span><span id="patternDateCreated" class="patternValue"></span>
    <br/>
  </div>
  <div id="patternDescription">
    <label>Pattern
      <br/>
      <input type="text" id="Pattern_Name">
    </label>
    <label>Description
      <br/>
      <input type="text" id="Pattern_Desc">
    </label>
    <label>User
      <br/>
      <input type="text" id="User_ID" disabled="disabled">
    </label>
  </div>
  <div id="patternFooter">
    <button type="button" class="btn btn-success">Save</button>
  </div>
</div>
<script type="text/javascript">
bindButton();
windowResize();

/* Test */
displayPattern(testPatternObj);
</script>
}
