@(user: User)

@main("Homepage") {
<!-- Debut container -->
<div class="container">
   <div class="row">
      <div class="col-md-3">
         <div class="panel panel-default">
            <div class="panel-heading"><strong> Paramètres personnels</strong></div>
            <div id="link-menu" class="panel-body">
               <a class="link" href="@routes.UserCtrl.show()">Profil</a><br>
               <a class="link" href="@routes.UserCtrl.settings()">Paramètres du compte</a><br>
                <a class="link" href="@routes.EmailCtrl.emails()">Gestion des courriels</a>
            </div>
         </div>
      </div>
      <!-- fin du col-md-4 -->
      <div class="col-md-9">
              <div class="panel panel-default" style="">
                  <div class="panel-heading"><strong>Profil public</strong></div>
                  <div class="panel-body">
                      <label for="upload-profile-picture">Photo de profil</label>
                      <div class="avatar-upload-container clearfix">
                          <img src="image.jpg" style="height : 70px ; width : 70px ;">
                          <span class="btn btn-default btn-file">Télécharger votre photo <input type="file">
                          </span>
                          <p style="color : grey ; font-size : 11px ; padding-left : 80px ;">
                              Vous pouvez aussi glisser votre photo depuis votre ordinateur
                          </p>
                      </div>
                      <form role="form">
                          <div class="col-xs-8">
                              <label for="ex3">Nom</label>
                              <input class="form-control" id="" type="text">
                          </div>
                          <div class="col-xs-8">
                              <label>Courriel public</label> <br>
                              <select style="border-radius : 5px ;">
                                  <option>Ne pas afficher mon courriel</option>
                              </select>
                              <p style="color : grey ; font-size : 11px ; padding-top : 2px ;">
                                  Vous pouvez aussi ajouter ou supprimer des courriels dans vos paramètres
                              </p>
                          </div>
                          <div class="col-xs-8">
                              <label for="ex3">URL</label>
                              <input class="form-control" id="" type="text">
                          </div>
                          <div class="col-xs-8">
                              <label for="ex3">Compagnie</label>
                              <input class="form-control" id="" type="text">
                          </div>
                          <div class="col-xs-8">
                              <label for="ex3">Emplacement</label>
                              <input class="form-control" id="" type="text">
                          </div>
                          <br>
                          <div class="col-xs-8" style="padding-top : 10px ;">
                              <button type="button" class="btn btn-success">Mettre à jour</button>
                          </div>
                      </form>
                  </div> <!-- Fin du panel body -->
              </div> <!-- Fin du panel -->
          </div> <!-- Fin du col-md-8 -->
      </div> <!-- fin du row -->
      <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-9">
              <div class="panel panel-default">
                  <div class="panel-heading"><strong>Profil du mesureur</strong> </div>
                  <div class="panel-body">
                      <script async type="text/javascript" src="@routes.Assets.versioned("javascripts/users/certifications.js")"></script>
                      <ul id="certifications">
                          <li>COSMIC 2.0</li>
                      </ul>
                      <form role="form">
                          <div class="col-md-3">
                              <input type="checkbox"><span style="font-size : 14px ;">Disponible pour mesurer</span>
                          </div>
                          <div class="col-md-6">
                              <div class="col-md-3">
                                  <label>Certification </label> <br>
                                  <select style="border-radius : 5px ;" id="methode">
                                      <option>COSMIC</option>
                                      <option>IFPUG</option>
                                      <option>FISMA</option>
                                      <option>NESMA</option>
                                      <option>MARK II</option>
                                  </select>
                              </div>
                              <div class="col-md-3">
                                  <label style="padding-left : 5px ;">Version</label> <br>
                                  <select style="border-radius : 5px ; padding-left : 10px ;" id="version">
                                      <option>2.0</option>
                                      <option>2.1</option>
                                      <option>2.2</option>
                                      <option>3.0</option>
                                      <option>4.0</option>
                                  </select>
                              </div>
                              <div class="date">
                                  <label>Date de certification</label><br>
                                  <input type="month" style="height : 35px ;" class="col-sm-6">
                              </div>
                          </div> <br><br><br><br>
                          <div style="padding-left : 10px ;">
                              <button type="button" class="btn btn-success">Mettre à jour mon profil de msesureur</button>
                          </div>

                      </form>
                  </div>
              </div>
          </div>
   </div>
</div>
<!-- fin container-->
}
