@(project: models.Project)

<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Insert title here</title>
		<link rel="stylesheet" href="twitter.css" type="text/css" />
	    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
	    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
	    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	</head>
	<body>
	<div class="container" style = " background-color:#D1E9F2">
     <h3>@Messages("project.sectionA")</h3>
     <form role="form" action="NotePcJuris" method="get" accept-charset="utf-8">
		<div class="form-group">
		@Messages("project.sectionA1")<br>
	 <table style="width:40%" >
  <tr>
    <td><label for="note">@Messages("project.sectionA1_con")</label></td>
    <td><input type="text" name="contact" id="contact"/><br></td>
  </tr>
  <tr>
    <td><label for="note">@Messages("project.sectionA1_org")</label></td>
    <td><input type="text" name="organisation" id="organisation"/><br></td>
  </tr>
  <tr>
    <td> <label for="note">@Messages("project.sectionA1_cou") </label></td>
    <td> <input type="text" name="country" id="country"/><br></td>
  </tr>
  <tr>
    <td> <label for="note">@Messages("project.sectionA1_ema")</label></td>
    <td><input type="text" name="email" id="email"/><br><br></td>
  </tr>
</table> 
     
	   </div>
	   <div class="form-group">
	   2. Your identifying name or ID for this submitted project.<br>
	   <label for="note">@Messages("project.sectionA2_pro")</label>
       <input type="text" name="projectId" id="projectId"/><br>
       <label for="note">@Messages("project.sectionA2_dat")</label>
       <input type="text" name="dateSubmitted" id="dateSubmitted"/><br><br>
	   </div>
	   
	   3. What was the role in this submitted project of the person who completed this questionnaire?<br>
	   <input type="checkbox" name="role" value="male"> @Messages("project.sectionA3_ana")<br>
	   <input type="checkbox" name="role" value="female"> @Messages("project.sectionA3_cus")<br>
	   <input type="checkbox" name="role" value="other"> @Messages("project.sectionA3_dev")<br>
	   <input type="checkbox" name="role" value="male"> @Messages("project.sectionA3_ind")<br>
	   <input type="checkbox" name="role" value="male"> @Messages("project.sectionA3_itm")<br>
	   <input type="checkbox" name="role" value="female"> @Messages("project.sectionA3_met")<br>
	   <input type="checkbox" name="role" value="other"> @Messages("project.sectionA3_pro")<br>
	   <input type="checkbox" name="role" value="male"> @Messages("project.sectionA3_pro1")<br>
	   <label for="other">@Messages("project.sectionA3_oth")</label>
       <input type="text" name="other" id="other"/><br><br>
	   
	   <p><input type="submit" value="Soumettre" class="btn btn-primary"/></p>
	   	   

     </form>
	 </div>
	</body>
</html>