<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Mot de passe oublié</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
      <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
      <link rel="stylesheet" type="text/css" href="style.css">
      <style type="text/css">
         body {
            background: #eee !important;
         }
</style>
   </head>
   <body>
   <div class="wrapper">
   <h3 class="form-signin-heading" align="center">Réinitialiser votre mot de passe</h2>
    <form class="form-signin">
    <p style="font-size: 12px;">Entrez votre adresse email et nous vous enverrons un lien pour réinitialiser votre mot de passe.
    </p>       
    <input class="form-control" id="" type="text"> <br>
     <button type="button" class="btn btn-success" style="width: 100%;">
     Envoie du courriel de réinitialisation 
     </button>
    </form>
  </div>
      
   </body>
   </html>