@main("Gestion des patrons") {
    <div id="patron" class="col-md-12">
        Gérer mes patrons
        <button type="button" class="btn btn-sm btn-default">Fermer</button>
    </div>
    <div id="table">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Nom du patron</th>
                        <th>Description</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Exemple 1</td>
                        <td>Descrition courte 1</td>
                        <td>?</td>
                        <td><button type="button" class="btn btn-sm btn-default">Modifier</button>
                            <button type="button" class="btn btn-sm btn-default">Supprimer</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Exemple 2</td>
                        <td>Descrition courte 2</td>
                        <td>?</td>
                        <td><button type="button" class="btn btn-sm btn-default">Modifier</button>
                            <button type="button" class="btn btn-sm btn-default">Supprimer</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
}