.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.42;
  border-radius: 15px;
  /*border-color: black;*/
  border-color: #ddd;
  margin-right: 10px;
}

button.btn-circle:focus { 
  outline:0 !important; 
}

input.no_style {

}