
form{

    margin-top: 110px;
    padding-top: 1px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    width: 900px;
    margin-left: auto ;
    margin-right: auto ;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    background-color: #fafafa;
}

label{
    padding-right: 10px;
}

.delete-but{
    background-color: #df3e3e;
    color: #FFFFFF;
}

.save-but{
    background-color: #70c154;
    color: #FFFFFF;
    margin-top: 20px;
    margin-bottom: 10px;
}

.form-inline{
    margin-top: 20px;
    margin-bottom: 20px;
}

.form-group{
    margin-right: 20px;
}

#orgsection{
    width: 300px;
}

#OrgDescription{
    width: 450px;
}

#OrgURL{
    width: 450px;
}

#location{
    width: 300px;
}

#zip{
    width: 100px;
}

#City{
    width: 300px;
}

#Country{
    width: 200px;
}

#StateProvince{
    width: 300px;
}