@main("Cosmic-sizing-tool"){

<!DOCTYPE html>
    <script src='@routes.Assets.versioned("javascripts/lib/registration.js")'></script>

        <div class="col-md-9 text-center vertical-center" style="color: white">
            <div class="row" style="margin-bottom:100px">
                <h1>{{ 'HOME.WHERE_SOFTWARE_FUNCTIONAL' | translate}}<br>{{ 'HOME.SIZE_IS_MEASURED' | translate}}</h1>

                <h6 class="small-text">{{ 'HOME.OPEN_SOURCE_COSMIC' | translate}}
                    <br><span id="blue-text" style="color: #3366FF;">{{ 'HOME.FREE_TO_USE' | translate}}</span></h6>
            </div>
        </div>

        <!-- Form -->
        <div class="col-md-2 vertical-center" style="margin-left:30px">
            <section class="card">

                <form name="profil" method="post" action="/registerUser/" ng-submit="registerUser()" novalidate>

                    <input type="text" class="text" id="username" name="username" placeholder="{{ 'HOME.PICK_A_USERNAME' | translate}}" value="" ng-model="CosmicUser.alias" ng-required="true">

                    <input type="email" name="email" placeholder="{{ 'HOME.YOUR_EMAIL' | translate}}" ng-model="CosmicUser.email" ng-required="true">

                    <input type="password" name="password" placeholder="{{ 'HOME.CREATE_PASSWORD' | translate}}" ng-model="CosmicUser.password"

                           ng-minlength="8" ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,20}$/" ng-required="true">
                    <h6 class="small-text" style="color: #f7efef">{{ 'HOME.USE_AT_LEAST' | translate}}<br> {{ 'HOME.MINIMUM_8_CHARACTERS' | translate}}</h6>

                    <!-- <select style="width: 250px" name="languages" class="languages icon-menu" ng-model="user.language" ng-required="true">
                        <option value="en" selected>English</option>
                        <option value="fr">Français</option>
                    </select> -->
                    <button type="submit" class="btn btn-success navbar-btn btn-submit">{{ 'HOME.REGISTER_TO_THE_COSMIC' | translate}}</button>
                    <h6 class="small-text"  style="color: #f7efef">{{ 'HOME.BY_CLICKING_ON' | translate}}
                        <a href="#" style="color: #3366FF">{{ 'HOME.TERMS' | translate}} <br> {{ 'HOME.CONDITIONS' | translate}}</a> {{ 'HOME.AND_THE' | translate}} <a href="#" style="color: #3366FF">{{ 'HOME.PRIVACY_POLICY' | translate}}</a>.
                    </h6>

                </form>
            </section>
        </div>
}
