@main("Cosmic-sizing-tool"){

<!DOCTYPE html>
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Angular -->
    <script src='@routes.Assets.versioned("javascripts/lib/angular/angular.min.js")'></script>
    <script src='@routes.Assets.versioned("javascripts/lib/registration.js")'></script>


        <div class="col-md-9 text-center vertical-center" style="color: white">
            <div class="row" style="margin-bottom:100px">
                <h1>Where software functional<br>size is Measured! </h1>

                <h6 class="small-text">Open-source COSMIC software functional size measurement support tool
                    <br><span id="blue-text" style="color: #3366FF;">Free to use</span></h6>
            </div>
        </div>

        <!-- Form -->
        <div class="col-md-2 vertical-center" style="margin-left:30px">
            <section class="card" ng-controller="Application">

                <form name="profil" method="post" ng-submit="registerUser()" novalidate>
                    <input type="text" class="text" id="username" name="username" placeholder="Pick a username" value="" ng-model="user.username" ng-required="true">

                    <input type="email" name="email" placeholder="Your email" ng-model="user.email" ng-required="true">

                    <input type="password" name="password" placeholder="Create a password" ng-model="user.password"
                           ng-minlength="8" ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,20}$/" ng-required="true">
                    <h6 class="small-text" style="color: #f7efef">Use at least one letter and one numeral.<br> Minimum 8 characters and maximum 20.</h6>

                    <select style="width: 250px" name="languages" class="languages icon-menu" ng-model="user.language" ng-required="true">
                        <option value="en" selected>English</option>
                        <option value="fr">Français</option>
                    </select>
                    <button type="submit" class="btn btn-success navbar-btn btn-submit">Register to the COSMIC-sizing-tool</button>
                    <h6 class="small-text"  style="color: #f7efef">By clicking on "Register to the COSMIC-sizing-tool", you are agree to our
                        <a href="#" style="color: #3366FF">Terms <br> and Conditions</a> and the <a href="#" style="color: #3366FF">Privacy Policy</a>.
                    </h6>

                </form>
            </section>
        </div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script async src=@routes.Assets.versioned("bootstrap/dist/js/bootstrap.min.js") type="text/javascript"></script>


<script>
    $('ul.nav li.dropdown').hover(function () {
      $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeIn(500)
    }, function () {
      $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeOut(500);
    });
</script>
}
