@main("Search measurer"){

    <div class="container">
        <div id="ViewHeader">Find a certified measurer</div>
        <div id="DropDownControls">
            <select id="SelectMethod">
                <option selected disabled>Select method</option>
            </select>
            <select id="SelectCountry">
                <option selected disabled>Select country</option>
            </select>
            <select id="SelectState">
                <option selected disabled>Select state</option>
            </select>
            <select id="SelectCity">
                <option selected disabled>Select city</option>
            </select>
        </div>
        <div id="ResultsTable">
            <table id="MeasurersTable">
                <tr>
                    <th>Name, Surname</th>
                    <th>Email</th>
                    <th>Certifications</th>
                </tr>
            </table>
        </div>
    </div>
}