
@main("Entrée de mesures") {
	<script type="text/javascript" src="/assets/javascripts/measures/add.js"></script>

	<div class="container" ng-controller="MeasuresAddController">
		<div ng-repeat="layer in layers">
			Couche: <input type="text" class="form-control" ng-model="layer.name">
			<br>
			<div class="panel panel-default" ng-repeat="process in layer.processes">
				<div class="panel-heading">
					<div class="row">
						<div class="col col-md-1">
							Ref: <input type="text" ng-model="process.ref" class="form-control">
						</div>
						<div class="col col-md-11">
							Processus fonctionnel: <input type="text" ng-model="process.name" class="form-control">
						</div>
					</div>
				</div>
				<div class="panel-body">
					<div ng-repeat="movement in process.movements">
						<div class="row">
						
							<div class="col-md-1">
							Ref: <input type="text" ng-model="movement.ref" class="form-control">
							</div>
							
							<div class="col-md-4">
							Name: <input type ="text" ng-model="movement.name" class ="form-control">
							</div>
						
							<div class="col-md-2">
							Movement: <input type ="text" ng-model="movement.movements" class ="form-control">
							</div>
							
							<div class="col-md-3">
							Commentaire: <input type ="text" ng-blur="addLine(process, $index, layer)" ng-model="movement.comment" class ="form-control">
							</div>

							<div class="col-md-2">
								<input type="checkbox" ng-model="movement.isTriggeringEntry"> Triggering entry
							</div>
						</div>
												
					</div>
				</div>
			</div>
		</div>		

		<button class="btn btn-primary" ng-click="save()">Enregistrer</button>

	</div>

}