@main("Ajouter une nouvelle organisation") {
  @*<link crossorigin="anonymous" href="https://assets-cdn.github.com/assets/frameworks-c9ebe75b707357dc366c2f7d27d201cf79f46c84e7c019ebdfdf6330f7e236df.css" media="all" rel="stylesheet" />*@
  @*<link crossorigin="anonymous" href="https://assets-cdn.github.com/assets/github-a6e222a9687ffdc5147c3f6bfc0e145a42e3d02c8c5f29690dd19b7542391d57.css" media="all" rel="stylesheet" />*@
  <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/organisation_add.css")">
  <script type="text/javascript" src="/assets/javascripts/organisation/add.js"></script>

  <div id="message"></div>
  <div role="main" class="main-content">


    <form ng-module="AddOrganisationModule" ng-controller="ModifierOrganisationController">

      <div>
        <h3>Modify Organization <button type="submit" class="btn pull-right delete-but">Delete</button>
        </h3>
      </div>


        <div class="form-inline">
            <label for="logoFile">Logo</label>
            <br/>
            <div class="form-group">
                <img class="img-rounded" width="100" height="100" style="background-color:#fafafa;" data-img-label='logo image' value='42'>
            </div>
            <div class="form-group">
                <input type="file" id="logoFile">
            </div>
        </div>

        <div class="form-inline">
            <div class="form-group" id="orgsection">
                <label for="OrgName">Organization name</label>
                <br/>
                <input type="email" class="form-control" id="orgsection" placeholder="Name" ng-model="organisationName">
            </div>
            <div class="form-group" id="orgsection">
                <label for="OrgCode">Organization code</label>
                <br/>
                <input type="email" class="form-control" id="orgsection" placeholder="Code" ng-model="code">
            </div>
        </div>

        <div class="form-group">
            <label for="OrgDescription">Description</label>
            <textarea class="form-control" rows="5" id="OrgDescription" ng-model="description"></textarea>
        </div>

        <div class="form-group">
            <label for="OrgURL">URL</label>
            <input type="text" class="form-control" id="OrgURL" placeholder="URL" ng-model="url">
        </div>

        <h4>Contact Info</h4>

        <div class="form-group">
            <label for="ContactName">Name</label>
            <input type="text" class="form-control" id="orgsection" placeholder="Name" ng-model="name">
        </div>

        <div class="form-inline">
            <div class="form-group">
                <label for="ContactPhone">Phone Number</label>
                <br/>
                <input type="email" class="form-control" id="orgsection" placeholder="Phone number" ng-model="contactPhone">
            </div>
            <div class="form-group">
                <label for="ContactEmail">Email</label>
                <br/>
                <input type="email" class="form-control" id="orgsection" placeholder="Email" ng-model="email">
            </div>
        </div>

        <h4>Location</h4>

        <div class="form-inline">
            <div class="form-group">
                <label for="address1">Address 1</label>
                <br/>
                <input type="email" class="form-control" id="location" placeholder="Address 1" ng-model="address1">
            </div>
            <div class="form-group">
                <label for="address2">Address 2</label>
                <br/>
                <input type="email" class="form-control" id="location" placeholder="Address 2" ng-model="address2">
            </div>
            <div class="form-group">
                <label for="zipCode">Zip code</label>
                <br/>
                <input type="email" class="form-control" id="zip" placeholder="Zip code" ng-model="zipcode">
            </div>
        </div>

        <div class="form-inline">
            <div class="form-group">
                <label for="City">City</label>
                <br/>
                <input type="email" class="form-control" id="City" placeholder="City" ng-model="city">
            </div>

            <div class="form-group">
                <label for="Country">Country</label>
                <br/>
                <select class="form-control" id="Country">Country
                    <option>Canada</option>
                </select>
            </div>

            <div class="form-group">
                <label for="StateProvince">State/Province/Region</label>
                <br/>
                <input type="email" class="form-control" id="StateProvince" placeholder="State/Province/Region">
            </div>

        </div>

        <button type="submit" class="btn save-but">Save Organization</button>
    </form>

    <div class="container site-footer-container"></div>
  </div>

}