@main("Ajouter une nouvelle organisation") {
<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/organisation_add.css")">
<script type="text/javascript" src="/assets/javascripts/organisation/Add/add.js"></script>

    <div id="message"></div>
    <div role="main" class="main-content">


        <form ng-app="AddOrganisationModule" ng-controller="AddOrganisationController">
            <h3>Create Organization</h3>

            <div class="form-inline">
                <div class="form-group">
                    <label for="OrgName">Organization name</label>
                    <input type="text" class="form-control" id="OrgName" placeholder="Name" ng-model="organisationName">
                </div>
                <div class="form-group">
                    <label for="OrgCode">Organization code</label>
                    <input type="text" class="form-control" id="OrgCode" placeholder="Code" ng-model="code">
                </div>
            </div>

            <div class="form-group">
                <label for="OrgDescription">Description</label>
                <textarea class="form-control" rows="5" id="OrgDescription" ng-model="description"></textarea>
            </div>
            <div class="form-group">
                <label for="OrgURL">URL</label>
                <input type="text" class="form-control" id="OrgURL" placeholder="URL" ng-model="url">
            </div>

            <h3>Contact Info</h3>

            <div class="form-group">
                <label for="ContactName">Name</label>
                <input type="text" class="form-control" id="ContactName" placeholder="Name" ng-model="name">
            </div>

            <div class="form-inline">
                <div class="form-group">
                    <label for="ContactPhone">Phone Number</label>
                    <input type="tel" class="form-control" id="ContactPhone" placeholder="Phone number" ng-model="contactPhone">
                </div>
                <div class="form-group">
                    <label for="ContactEmail">Email</label>
                    <input type="email" class="form-control" id="ContactEmail" placeholder="Email" ng-model="email">
                </div>
            </div>

            <h3>Location</h3>

            <div class="form-inline">
                <div class="form-group">
                    <label for="address1">Address 1</label>
                    <input type="text" class="form-control" id="address1" placeholder="Addr 1" ng-model="address1">
                </div>
                <div class="form-group">
                    <label for="address2">Address 2</label>
                    <input type="text" class="form-control" id="address2" placeholder="Addr 2" ng-model="address2">
                </div>
                <div class="form-group">
                    <label for="zipCode">Zip code</label>
                    <input type="text" class="form-control" id="zipCode" placeholder="Zip code" ng-model="zipcode">
                </div>
            </div>

            <div class="form-inline">
                <div class="form-group">
                    <label for="City">City</label>
                    <input type="text" class="form-control" id="City" placeholder="City" ng-model="city">
                </div>
                <div class="form-group">
                    <label for="countrySelect">Country</label>
                    <select id="countrySelect" class="form-control" ng-model="country">Country
                        <option>Canada</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="StateProvince">State/Province/Region</label>
                    <input type="text" class="form-control" id="StateProvince" placeholder="State/Province/Region" ng-model="state">
                </div>
            </div>


            <button type="submit" class="btn btn-default" ng-click="submitForm()">Save Organization</button>
        </form>
        
        <div class="container site-footer-container"></div>
</div>

}