@main("Ajouter une nouvelle organisation") {
    @*<link crossorigin="anonymous" href="https://assets-cdn.github.com/assets/frameworks-c9ebe75b707357dc366c2f7d27d201cf79f46c84e7c019ebdfdf6330f7e236df.css" media="all" rel="stylesheet" />*@
@*<link crossorigin="anonymous" href="https://assets-cdn.github.com/assets/github-a6e222a9687ffdc5147c3f6bfc0e145a42e3d02c8c5f29690dd19b7542391d57.css" media="all" rel="stylesheet" />*@
<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/organisation_add.css")">
<script type="text/javascript" src="/assets/javascripts/organisation/add.js"></script>
    
    <div id="message"></div>
    <div role="main" class="main-content">


        <form>
            <h3>Create Organization</h3>

            <div class="form-inline">
                <div class="form-group">
                    <label for="OrgName">Organization name</label>
                    <input type="email" class="form-control" id="OrgName" placeholder="Name">
                </div>
                <div class="form-group">
                    <label for="OrgCode">Organization code</label>
                    <input type="email" class="form-control" id="OrgCode" placeholder="Code">
                </div>
            </div>

            <div class="form-group">
                <label for="exampleInputPassword1">Description</label>
                <textarea class="form-control" rows="5" id="OrgDescription"></textarea>
            </div>
            <div class="form-group">
                <label for="exampleInputFile">URL</label>
                <input type="url" class="form-control" id="OrgURL" placeholder="URL">
            </div>

            <h3>Contact Info</h3>

            <div class="form-group">
                <label for="exampleInputPassword1">Name</label>
                <input type="email" class="form-control" id="ContactName" placeholder="Name">
            </div>

            <div class="form-inline">
                <div class="form-group">
                    <label for="exampleInputEmail1">Phone Number</label>
                    <input type="email" class="form-control" id="ContactPhone" placeholder="Phone number">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email</label>
                    <input type="email" class="form-control" id="ContactEmail" placeholder="Email">
                </div>
            </div>

            <h3>Location</h3>

            <div class="form-inline">
                <div class="form-group">
                    <label for="exampleInputEmail1">Address 1</label>
                    <input type="email" class="form-control" id="ContactPhone" placeholder="Addr 1">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Address 2</label>
                    <input type="email" class="form-control" id="ContactEmail" placeholder="Addr 2">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Zip code</label>
                    <input type="email" class="form-control" id="ContactEmail" placeholder="Zip code">
                </div>
            </div>

            <div class="form-inline">
                <div class="form-group">
                    <label for="exampleInputEmail1">City</label>
                    <input type="email" class="form-control" id="ContactPhone" placeholder="City">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Country</label>
                    <select class="form-control">Country
                        <option>Canada</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">State/Province/Region</label>
                    <input type="email" class="form-control" id="ContactEmail" placeholder="State/Province/Region">
                </div>
            </div>


            <button type="submit" class="btn btn-default">Save Organization</button>
        </form>
        
        <div class="container site-footer-container"></div>
</div>

}